/*  Created on : 18/10/2009, 13:03:08
    Author     : Wonka    */
body{/*background-color: rgb(240, 240, 240);*/}
h1{
    color: white;
    -webkit-text-stroke: 1px white;
    background-color: #474747;
}
nav, header, footer, nav ul li{
    background-color: #474747;
    color: silver;
}
nav ul li:hover{
    color: white;
    background-color: silver;
}
#main, aside, .prompt-window{
    background-color: white;
}
a{color: white;}
.gray{color: gray;}

h2, h4, h3.fail, h3.success, h3.illegal, h3.warning, h3.tip{
    color: white;
}
h2, h4{background-color: silver;}

h3.fail, h3.illegal{background-color: red;}
h3.success{background-color: green;}
h3.warning{background-color: orange;}
h3.tip{
    margin-top: 1em; margin-bottom: 1em;
    background-color: black;
}

input, .button, button, label:hover span{
    background-color: rgb(240, 240, 240);
    border-color: gray;
}
input:hover, .button:hover, button:hover{
    background-color: silver;
    color: white;
}
input:active, .button:active, button:active{
    background-color: silver;
}
label:hover span{
    color: gray;
}