/*  Created on : 27/07/2010, 22:59:59
    Author     : Wonka  */
.tk-learning-curve{
    font-size: x-large;
}
body{font-family: Verdana, sans-serif;}
p{
    line-height: 150%;
    font-size: 16px;
    font-family: Georgia;
    text-align: justify;
}

header, footer, nav{width: 100%;display: block;}

nav{-moz-border-radius-bottomleft:12px;-moz-border-radius-bottomright:12px;
    border-bottom-left-radius:12px;border-bottom-right-radius:12px;    
}
nav .menu-item{
    padding: 4px;
    display: inline-block;
    cursor: pointer;
}
nav .menu-item span{
    opacity: .6;
    display: none;
    position: absolute;
    top: 6em; z-index: 8;
    padding: .5em;
}
nav .menu-item:hover span{
    display: inline;
}
.menu-item img{
    height: 24px;
}

#main, aside{
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 3em;
    margin-right: 1em;
    text-align: left;
}
#main{width: 500px;}
aside{
    width: 255px;
    vertical-align: top;
}
.shadow, .body, .prompt-window{
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.body, .prompt-window{
    -moz-border-radius:6px;
    border-radius: 6px;
    padding: 1em;
}
.body{
    overflow: hidden;
    margin-bottom: 1em;
    position: relative;
}
footer, h2, .round-top, .menu-item:hover{-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}
h4{-moz-border-radius-topright:12px;border-top-right-radius:12px;}

article, .short{
    width: 350px;
}
section, .section{-moz-border-radius-bottomleft:12px;
    padding: 1em;
    border-bottom-left-radius:12px;
}
.counter{
    font-size: xx-small;
    background-color: gray;
    color: silver;
    text-align: center;
    display: block;
    margin-bottom: 2px;
    padding: 1px;
}
p{margin-bottom: 1em;}
.center{text-align: center;}
a{text-decoration: none;}
h4 a{padding: 0px 13px;}
h4 a:hover{background: url(link.png) no-repeat 100% 50%;}

.gray{
    display: block;
    text-align: center;
    font-weight: bold;
}
a.or{color: red; font-weight: bold;}

h1{font-size: xx-large;}
h1, h2{font-weight: bold;}
h2, h4{
    padding: 5px;
    text-align: center;
}
h2{
    text-shadow: gray -1px -1px 0px;
    font-size: x-large;
    margin: -0.5em;
    margin-bottom: 0.5em;
}
h3{
    margin-bottom: 1em;
    text-align: center;
}
h4{
    margin-top: 1em;    
    text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;    
    font-size: large;    
}
h5{
    text-shadow: white 1px 1px;
}

input, select, textarea{display: block;}
.button, button{
    display: inline-block;
}
input[type="submit"], .button, button{
    cursor: pointer;
}
input[type="radio"]{display: inline;}
input, .button, button, select, textarea{
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    transition: background-color .3s ease;
    margin: 0.5em;
    padding: 2px 0.5em 2px 0.5em;
    border: 1px solid;
    font-weight: bold;
}

.prompt-window{
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    transition: opacity .5s ease;
    position: absolute;
    width: 350px;
    height: 200px;
}
.prompt-window:active{opacity: 0.7;}

.close-button{
    display: none;
    background-image: url("deleteButton.png");
    height: 30px;
    left: -15px;
    top: -10px;
    position: absolute;
    width: 30px;
}
.close-button:hover{background-image: url("deleteButtonPressed.png");}
.closable{display: none;}

.prompt-window:hover .close-button, .closable:hover .close-button{
    display: block;
}

.busy, .busy2{
    background-image: url("loading1.gif");
    background-repeat: no-repeat;
    width: 16px;
    height: 11px;
}
.busy{margin: 0 auto;}
.busy2, .block{display: inline-block;}

.required-field{
    border-left: 3px solid;
    border-left-color: red;
}
label span{
    display: none;
    position: relative;
}
label:hover span{-moz-border-radius-bottomright: 6px;-moz-border-radius-topright: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    display: inline;
    left: 58px;
    top: 25px;
    border: 1px solid;
    padding: 2px;
}
.picture, .new-picture{
    height: 205px;
    width: 205px;
    margin: 0 auto;
    text-align: center;
}
.picture img, .new-picture img{
    max-height: 205px;
    max-width: 205px;
}
.navigator{
    cursor: pointer;
    display: inline-block;
    background-color: silver;
    vertical-align: top;
    height: 1em;
}
.action-tip{
    height: 26px; width: 15px;
    background-image: url("bulb.png");
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}
.round, .menu-item span{-moz-border-radius:6px;
    border-radius:6px;
    background-color:#f0f0f0;
    display:block;
}

.group{display: block;}

label input{display: inline-block;}

.item{
    margin-bottom: 0.5em;
    padding: 3px;
}
.item .gray{display: inline;}
.inline{display: inline-block;vertical-align: top;}
.popable{overflow: visible;}
.icon:first-letter{font-weight: bold;}
.icon{
    margin-left: 1em;
    color: gold;
    text-shadow: gray 1px 1px;
}
.trans{
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}
#console, footer{
    position: fixed;
    opacity: 0.8;
}
#console{
    left: 3px;
    opacity: 0;
    bottom: -60px;
    padding: 0.5em;
    max-width: 50%;
}
#console-log{
    opacity: 0.8;
    margin: .5em;
    text-align: left;
    max-height: 400px;
    overflow: auto;
}
footer{    
    bottom: 0;
    position: fixed;
    z-index: 3;
    padding: 0.5em 0 0.5em 0;
    opacity: 0.8;
}
.footer{-moz-border-radius-bottomleft: 6px;-moz-border-radius-bottomright: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: -0.9em;
    margin-top: 1em;
    padding: 5px;
    height: 1em;
}
