/* 
    Created on : 16/10/2009, 17:31:26
    Author     : Wonka         
*/
header{
    background-color: green;
}
nav ul li{
    color: white;
    background-color: black;
    display: inline;
}
#main{
    display: inline-block;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
    border-width: 5px;
    border-style: solid;
    width: 768px;
}
aside{
    display: inline-block;
    background-color: fuchsia;
}
footer{
    display: block;
}
article{
    
}
section{

}