/*Created on : 09/04/2010, 21:11:46
    Author     : Wonka*/
#confirm-request{
    display: none;
}
#new-group{
    color:hsl(0, -10%, 50%);/*hsla tb*/
}
#groups{
    text-align: left;
}
.avatar{
    height: 50px;
    width: 50px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
.avatar img{
    max-height: 100px;
    max-width: 100px;
    margin: -1em;
}
.request-message{
    text-align: center;
    display: block;
}
.groups-title{
    font-weight: bold;
    color: gray;
}
.group{
    font-size: x-small;
}